/* ROOT STUFF */
:root {
	--light1: #ebebeb;
    --light2: #fff;
    --dark1: #2a2424;
    --dark1L: #473d3d;
	--dark1L-hover:#3d3434;
	--dark1L-active:#584b4b;
    --dark2: #0d0d0d;
    --aem-purple: #8018c4;
    --aem-green: #04AA6D;
	--aem-greenL: #00b874;
	--aem-yellow: #da9600;
	--aem-yellowL: #eea300;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
/* footer support */
	position: relative;
	min-height: 100%;
}
  
header {
	background-color: var(--dark2);
	color: var(--aem-yellow);
	text-align: center;
}

body {
	background-color: var(--dark1);
    color: var(--light1);
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
/* footer support */
	margin-bottom: 100px;
}

/* HEADER */

/* MAIN */

#newBookBtn {
	background-color: var(--aem-green);
	border: none;
	width: 128px;
	height: 32px;
}

#newBookBtn:hover {
	background-color: var(--aem-greenL);
}

#cards {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;

}

.card {
	background-color: var(--dark1L);
	border-radius: 24px;
	padding: 1rem;
	margin: .5rem;
	width: 300px;
	min-height: 128px;
	display: flex;
	flex-direction: column;
}

.rmvBookBtn, #closeFormBtn{
	align-self: flex-end;
	background-color: var(--dark1L);
	border: 0px;
	color: var(--aem-yellow);
	font-weight: 800;
}

.rmvBookBtn:hover, #closeFormBtn:hover {
	color: var(--aem-yellowL);
	font-weight: 100;
}

/* FORM */

.formPopup {
	flex-direction: column;
	align-items: center;
	position: fixed;
	left: 45%;
	top: 25%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	background-color: var(--dark1L);
	padding: 12px;
}

.formPopup input[type=text]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background: #eee;
}

.formPopup input[type=text]:focus{
	background-color: #ddd;
	outline: none;
}

.errMsg {
	display: none;
	color: red;
	width: 90%;
	margin-top: -20px;
	font-size: 24px;
}

.error-msg.active {
	display: block;
}

.formButtons button{
	border: none;
	width: 128px;
	height: 32px;
}

#addBookBtn {
	background-color: var(--aem-green);
}

#addBookBtn:hover {
	background-color: var(--aem-greenL);
}

#clrFormBtn {
	background-color: var(--aem-yellow);
}

#clrFormBtn:hover {
	background-color: var(--aem-yellowL);
}




/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	gap: 10px;
	background-color: var(--dark2);
    color: var(--light1);
	font-size: 12px;
}

.fa-github {
	color: var(--aem-purple);
	font-size: 24px;
}
  
.fa-github:hover {
	animation: skew 0.2s;
	animation-direction: alternate;
	animation-iteration-count: 2;
	transform: scale(1.2);
}

@keyframes skew {
	0% {
		transform: skew(20deg, 20deg);
	}
	100% {
		transform: skew(-20deg, -20deg);
	}
}